Package            Version
------------------ ---------
annotated-doc      0.0.4
annotated-types    0.7.0
anyio              4.12.1
beautifulsoup4     4.12.2
certifi            2023.7.22
charset-normalizer 3.2.0
click              8.3.1
colorama           0.4.6
et-xmlfile         1.1.0
fastapi            0.128.0
greenlet           3.3.1
h11                0.16.0
idna               3.4
Jinja2             3.1.6
MarkupSafe         3.0.3
openpyxl           3.1.2
pip                23.2.1
pydantic           2.12.5
pydantic_core      2.41.5
pyserial           3.5
requests           2.31.0
setuptools         65.5.0
soupsieve          2.5
SQLAlchemy         2.0.46
starlette          0.50.0
typing_extensions  4.15.0
typing-inspection  0.4.2
urllib3            2.0.5
uvicorn            0.40.0
vboxapi            1.0
vboxapi            1.0
vboxapi            1.0